# Ortak
.env
.DS_Store
bugAndUpdates.md
# Node.js / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Logs
logs
*.log

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE / Editor
.vscode/
.idea/
